
/* CSS para maquetar contenido general*/

:root {
    --color1: #de8220;  /*Color corporativo naranja*/
    --color2: #6d7d85;  /*Color corporativo gris*/
    --color3: #1a2830;  /*Color texto*/
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background-color: var(--color2);
}

header {
    background: #fff;
}

    header > figure {
        width: 100%;
    }

        header > figure > a {
            margin: auto;
        }