@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Imprima|Satisfy&display=swap');

/*Variables globales*/
:root {
    --color1: #de8220;  /*Color corporativo naranja*/
    --color2: #6d7d85;  /*Color corporativo gris*/
    --color3: #1a2830;  /*Color texto*/
}



/*CSS para maquetar contenido general de las páginas*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background-color: var(--color1);
    font-family: 'Imprima', sans-serif;
}

header {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

    header > figure {
        margin: auto;
    }

        header > nav > ul {
            display: flex;
            list-style-type: none;
        }

            header > nav > ul > li {
                flex-grow: 1;
            }

                header > nav > ul > li > a {
                    color: #fff;
                    text-decoration: none;
                    height: 2.3em;
                    display: flex; /*Necesario para que a ocupe todo el li*/
                    justify-content: center;
                    align-items: center;
                    background-color: var(--color1);
                    font-weight: bold;
                }

                header > nav > ul > li > a:hover {
                    color: var(--color3);
                    background-color: #c5c5c5;
                    transition: .3s;
                }

main {
    background-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 45px;
}

    main > section {
        padding: 22px;
    }

        main > section > h1 {
            font-size: 2.7em;
            margin: 25px 25px 60px 25px;
            font-family: 'Satisfy', sans-serif;
        }

footer {
    background-color: var(--color2);
    padding: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    footer > p {
        color: #fff;
    }

        footer > a {
            color: #fff;
        }

        footer > a:hover {
            text-decoration: none;
        }




/*
    ALEJANDRO CASTRO VALERO
*/



/*CSS para la página busqueda.html y registro.html*/

.formulario {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3%;
    color: #fff;
}

.formulario::placeholder {
    color: #000;
    opacity: .6;
}

.formulario:hover,
.formulario:focus {
    border-bottom: 2px solid #fff;
}

form#formulario{
    background-color: var(--color2);
    width: 50%;
    margin: auto;
    border-radius: 1%;
}

    form#formulario> div {
        width: 100%;
        padding: 20px 30px;
    }

    form#formulario> div:first-child {
        padding-top: 35px;
    }

    form#formulario> div:last-child {
        margin-top: 30px;
    }

        form#formulario> div > label:first-child {
            display: block;
            margin-bottom: 2px;
            color: #fff;
        }

        form#formulario> div > input[type=submit] {
            width: 100%;
            height: 50px;
            font-size: 1.1em;
            background-color: var(--color1);
            border: none;
        }

        form#formulario> div > input[type=submit]:hover {
            cursor: pointer;
            background-color: #ee9e49;
        }




/*CSS para la página solicitud.html*/

section#solicitud > p {
    margin-bottom: 35px;
}

section#solicitud > div {
    width: 100%;
    display: flex;
}

    section#solicitud > div > section {
        padding: 20px;
    }

        section#solicitud > div > section > h2 {
            padding: 0 0 5px 5px;
        }

    section#solicitud > div > section:first-child {
        width: 30%;
    }

    section#solicitud > div > section:last-child {
        width: 70%;
        background-color: var(--color2);
        border-radius: .3%;
    }

        section#solicitud > div > section:last-child > h2,
        section#solicitud > div > section:last-child > p {
            color: #fff;
        }

        section#solicitud > div > section:last-child > form#formulario{
            width: 100%;
            margin-top: 25px;
        }

            section#solicitud > div > section:last-child > form#formulario> div {
                padding: 15px 10px;
            }

            section#solicitud > div > section:last-child > form#formulario> div > textarea {
                height: 80px;
            }

/*Para la tabla*/
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--color1);
}

tr:not(th):hover {
    background-color: #cfcece;
}

th, td {
    text-align: left;
    padding: 5px;
}

table, tr, th, td {
    border: 2px solid #000;
    height: 50px;
}




/*Media Queries para Responsive Web Design*/

@media all and (max-width: 800px) {

    form#formulario> div > input#photo {
        width: 135px;
    }

    section#solicitud > div {
        display: initial;
    }

    section#solicitud > div > section:first-child {
        width: 100%;
    }

    section#solicitud > div > section:last-child {
        width: 100%;
    }
}

@media all and (max-width: 700px) {

    form#formulario{
        width: 70%;
    }


}

@media all and (max-width: 450px) {

    form#formulario{
        width: 90%;
    }

    footer {
        flex-direction: column;
    }

    footer > p {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 420px)
{
    body
        {
        margin: 0;
        }
}




/*
    GABRIEL MARTÍNEZ ANTÓN
*/


a > img:hover
{
   cursor: pointer;
   opacity: 0.5;
}

#formini
{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #formini>p
    {
        text-align: center;
    }

    #formini>form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

section>section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

section>section>a
{
    text-decoration: none;
    background-color: var(--color2);
    width: 40%;
    text-align: center;
    font-size: 2em;
    padding-top: 5px 10px;
    margin-bottom: 5px;
    color: #fff;
}

section>section>a:hover
{
    opacity: 0.7;
}

section>section>h3
{
    width: 100%;
    text-align: center;
    margin: 15px 1px;
}

section>section>ul>li
{
    list-style: none;
    margin: 5px;
    width: 100%;
    text-align: center;
}

.seccionfoto
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
    .seccionfoto>article
    {
        margin-bottom: 10px;
    }

        .seccionfoto>article>img
        {
            width: 100%;
        }

        .seccionfoto>article>h3,.seccionfoto>article>p
        {
            width: 100%;
            text-align: center;
        }