
/* CSS para maquetar contenido general*/

:root {
    --color1: #de8220;  /*Color corporativo naranja*/
    --color2: #6d7d85;  /*Color corporativo gris*/
    --color3: #1a2830;  /*Color texto*/
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background-color: var(--color1);
}

header {
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

    header > figure {
        margin: auto;
    }

        header > nav > ul {
            display: flex;
            list-style-type: none;
        }

            header > nav > ul > li {
                flex-grow: 1;
            }

                header > nav > ul > li > a {
                    text-decoration: none;
                    height: 2.3em;
                    display: flex; /*Necesario para que a ocupe todo el li*/
                    justify-content: center;
                    align-items: center;
                }

main {

}